<form action="http://pooleapp.com/stash/419c8dbd-fc5d-46cd-8076-0d67c3bd1ba7/" method="post">
	<input type="hidden" name="redirect_to" value="{YOUR-THANKS-PAGE}" />
	
	<label for="form">Leave some info</label><br>
	<label for="form">and I'll get back to you!</label><br>
		<label for="name">name</label>
	<input type="text" name="1-name" required/><br>
		<label for="phone">phone</label>
	<input type="text" name="2-phone" /><br>
		<label for="email">email</label>
	<input type="text" name="3-email" /><br>
<br>
		<label for="problem">problem</label><br>
	<input type="checkbox" name="4a-tshirt" value="yes">tshirt<br>
	<input type="checkbox" name="4b-banner" value="yes">banner<br>
	<input type="checkbox" name="4c-decal" value="yes">decal<br>
	<!-- <input type="checkbox" name="4d-graphic" value="yes">graphic design<br>
	<input type="checkbox" name="4e-website" value="yes">website design/development<br> -->
<br>
		<label for="notes">notes</label><br>
	<textarea name="5-notes" rows="5" cols="30" placeholder="add additional information here"></textarea><br>
	
	<input type="submit" value="submit" /><br>
</form>