/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/***********
 * wommy
 ***********/

.wrapper{
    margin-right: 0;
    margin-left: 25%;
    max-width:900px;

    .post-list li >:not(h2){
        margin-left: 1rem;
    }


    @include media-query($on-palm) {
        margin:.5rem;
    }
}

.site-aside{
    position:fixed;
    left:0;
    width: 17rem;
    height: 100%;
    margin: 0 1rem;
    // font-size: .8em;

    .logo{
        height:10rem;
        width:10rem;
        margin: 1rem 2rem;
        // position:absolute;
        // right:65rem;
    }

    nav i{
        // text-align:center;
        // display: inline-block;
        // margin-left: 1rem;
    }

    form{
        background-color:#eef;
        border-radius:3px;
        width: 15rem;
        margin: 1rem 0;

        div{
            width: 90%;
            margin: auto;
            padding: 1rem 0;

            header{
                font-size: 1.25rem;
            }

            span,
            label,
            textarea{
                margin: .125rem;
                // padding-left:1rem;
                display: block;
            }

            span{

                span,
                input,
                label{
                    display: inline-block;
                }

                input[type=text]{
                    width: 75%;
                    margin-left: auto;
                    float:right;
                }

                header{
                    font-size: 1rem;
                }

                textarea{
                    width: 95%;
                    height: 3rem;
                }

                label{
                    background-color: white;
                    border:1px inset #F8F8F8;
                    // border-radius:1px;

                    font-size: .875rem;

                    padding:.125rem .25rem;

                    width: 27%;

                    margin:auto;

                    span,
                    input{
                        margin: .125rem;
                    }
                }
            }

            // input[type=submit]{
            //     width: 3rem:
            //     margin-left: 80%;
            // }

        }
        
        
    }

    @include media-query($on-palm) {
        position: static;
        // text-align: center;
        width: auto;
        margin: 0 .5rem;

        form{
            width: auto;
            margin: .25rem;
        }
    }
}




