<form class='form column' action="http://pooleapp.com/stash/419c8dbd-fc5d-46cd-8076-0d67c3bd1ba7/" method="post">
	<input type="hidden" name="redirect_to" value="{YOUR-THANKS-PAGE}" />
	
	<div class='row'>
		<span>Request a Quote</span>
	</div>

	<div class='row'>
		<span>Name:</span>
		<input type="text" name="1-name" required/>
	</div>

	<div class='row'>
		<span>Phone:</span>
		<input type="text" name="2-phone" />
	</div>

	<div class='row'>
		<span>Email:</span>
		<input type="text" name="3-email" />
	</div>

	<div class='row'>
		<span>Problem:</span>

		<div class='column'>
			<label>
				<input type="checkbox" name="4a-concrete_flatwork" value="yes">
				<span>concrete flatwork</span>
			</label>

			<label>
				<input type="checkbox" name="4b-sidewalks_driveway" value="yes">
				<span>sidewalks/driveway</span>
			</label>
			
			<label>
				<input type="checkbox" name="4c-public_way" value="yes">
				<span>public way</span>
			</label>
		</div>

	</div>

	<div class='row'>
		<span>Notes:</span>
	<!-- </div>

	<div class='row'> -->
		<textarea name="5-notes" placeholder="add additional information here"></textarea>
	</div>

	<div class='row submit'>
		<input class='submit-button' type="submit" value="submit" />
	</div>

</form>

<!-- http://pooleapp.com/data/a610d2ac-22b2-4790-a981-8f2fb901e458/summary/ -->