<form action="http://pooleapp.com/stash/419c8dbd-fc5d-46cd-8076-0d67c3bd1ba7/" method="post">
	<input type="hidden" name="redirect_to" value="{YOUR-THANKS-PAGE}" />
	
	<div>

		<header>Request a Quote</header>
		
		<span>
			<span>Name:</span>
			<input type="text" name="1-name" required/>
		</span>
			
		<span>
			<span>Phone:</span>
			<input type="text" name="2-phone" />
		</span>

		<span>
			<span>Email:</span>
			<input type="text" name="3-email" />
		</span>
		
		<span>
			<header>Problem:</header>
			<label>
				<input type="checkbox" name="4a-tshirt" value="yes">
				<span>tshirt</span>
			</label>
			<label>
				<input type="checkbox" name="4b-banner" value="yes">
				<span>banner</span>
			</label>
			<label>
				<input type="checkbox" name="4c-decal" value="yes">
				<span>decal</span>
			</label>
		</span>
				

		<span>
			<span>Notes:</span>
			<textarea name="5-notes" placeholder="add additional information here"></textarea>
		</span>
		
		<input type="submit" value="submit" />

	</div>

</form>

<!-- http://pooleapp.com/data/a610d2ac-22b2-4790-a981-8f2fb901e458/summary/ -->